
body { padding: 25px; }
h1 { margin: 15px 0; }
h2 { margin: 25px 0; }
header .container { text-align: center; }
main .container { padding: 0 0 40px 0; }
footer .container { text-align: center; }
footer .logo { width: 50px; }
footer a { text-decoration: none; color: #000; }
.inline { display: inline; }
.w100 { width: 100px !important; }
.w200 { width: 200px !important; }
.wauto { width: auto !important; }
input::placeholder, textarea::placeholder { color: #ccc !important; }
.qrcode { max-width: 600px; }